<div class="row">
  <div class="col-6 m-auto">
  <div class="card m-auto">
    <div class="card-header">
      Register
    </div>
    <div class="card-body">
      <form [formGroup]="registrationForm" (ngSubmit)="onRegister()">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="userName">
            @if (!userName.valid && (userName.touched || userSubmitted)) {
              <span class="error-block">
                Please Provide a Username!
              </span>
            }
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" formControlName="email">
          @if (!email.valid && (email.touched || userSubmitted)) {
            @if (email.hasError('required')) {
              <span class="error-block">
                Please Provide a Email!
              </span>
            }

            @if (email.hasError('email')) {
              <span class="error-block">
                Please Provide a Valid Email!
              </span>
            }
          }
        </div>

        <div class="mb-3">
          <label for="passwrod" class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="password">
          @if (!password.valid && (password.touched || userSubmitted)) {
            @if (password.hasError('required')) {
              <span class="error-block">
                Please Provide a Password!
              </span>
            }

            @if (password.hasError('minlength')) {
              <span class="error-block">
                Minimum Password Length is 8!
              </span>
            }

            @if (password.hasError('maxlength')) {
              <span class="error-block">
                Max Password Length is 16!
              </span>
            }
          }
        </div>

        <div class="mb-3">
          <label for="cpassword" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" formControlName="confirmPassword">
          @if (!confirmPassword.valid && (confirmPassword.touched || userSubmitted)) {
            @if (confirmPassword.hasError('required')) {
              <span class="error-block">
                Please Provide a Confirm Password!
              </span>
            }
          }

          @if (registrationForm.hasError('notmatched') && confirmPassword.valid) {
            <span class="error-block">
              Password Does Not Match!
            </span>
          }
        </div>

        <div class="mb-3">
          <label for="mobile" class="form-label">Mobile</label>
          <input type="number" class="form-control" formControlName="mobile">
          @if (!mobile.valid && (mobile.touched || userSubmitted)) {
              <span class="error-block">
                Please Provide a Mobile Number!
              </span>
            }
        </div>

        <div class="mb-3">
          <button type="submit" class="btn btn-primary me-2">Save</button>
          <button type="reset" class="btn btn-secondary">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>